# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.sqlite3
*.db

# Virtual environment
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml

# Large data files (we're downloading similarity.pkl dynamically)
similarity.pkl
